html,
body {
  width: 100%;
  height: 100%;
  /*overflow-x: hidden;*/
}

body {
  background-color: mintcream;
}

html {
  font-size: 62.5%;
}

/*common elements*/
.section-divider {
  padding-top: 90px;
}

.divider {
  width: 70%;
  margin: auto;
  height: 5px;
  background-color: #fdb1d5;
  border: 0.5px solid #ec95c2;
}

.container {
  text-align: center;
}

#section-head {
  padding-top: 1em;
  padding-bottom: 1.25em;
}

.row {
  /*padding-bottom: 35px;*/
  margin-right: 0;
  margin-left: 0;
}

.nm {
  margin: 0;
}


/*typography*/
h2 {
  font-size: 3.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #42465e;
}

h3 {
  font-size: 2.1rem;
  font-family: 'Poppins', sans-serif;
  color: #42465e;
}

h4 {
  font-size: 1.61rem;
  font-family: 'Poppins', sans-serif;
  color: #ec95c2;
}

p {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #42465e;
  letter-spacing: 0.5px;
}

.overlay p {
  font-size: 1.75rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p {
  cursor: default;
}

.justify {
  text-align: justify;
}

a:focus {
  text-decoration: none;
  color: #ec95c2;
}


/*navbar styling*/
#navbar {
  background-color: #ec95c2;
  width: 100%;
  height: 80px;
  /*top: -80px;*/
  display: none;
  transition: 0.3s;
}

.navbar-header, .title .navbar-brand {
  background-color: #ec95c2;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 70px;
}

.title a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: mintcream;
  font-size: 3.24rem;
  font-weight: 600;
  padding-left: 18px;
  letter-spacing: 4.8px;
}

.title a:hover,
.title a:focus {
  text-decoration: none;
  }

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-primary, .navbar-inverse .navbar-form {
  background-color: #ec95c2;
  width: 90%;
  margin: auto;
}

.navbar ul li a {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  border-radius: 5px;
}

.navbar-inverse .navbar-nav>li>a {
  color: mintcream;
}

#nav-list li a {
  transition: color 200ms, background-color 200ms;
}

#nav-list li a:hover {
  color: #42465e;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 15px 10px;
  margin: 0 2px;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover{
  background-color: #ec95c2;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #42465e;
}

.navbar-open {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ec95c2;
  float: left;
  width: 40px;
  height: 40px;
}

.fa-bars {
  color: #42465e;
}

.navbar-inverse {
  border-color: #e468a9;
}

.slideInDown,
.slideOutUp,
.slideInLeft,
.slideOutLeft {
  animation-duration: 0.7s;
}

.slideOutUp,
.slideOutLeft,
.fadeOut {
  animation-delay: 1s;
}

.navbar-secondary {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #ec95c2;
  z-index: 1029;
  transition: 0.3s;
}

.navbar-brand-secondary {
  float: left;
}

/*sidebar styling*/
.sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ec95c2;
  z-index: 1030;
  transition: 0.3s;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 40px 20px;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.sidebar-title a {
  padding: 10px;
}

.fa-times {
  font-size: 30px;
  padding: 0 5px;
  color: #42465e;
}

.sidebar-navigation-item {
  width: 80%;
  background-color: mintcream;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-navigation-item a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.15px;
  color: #ec95c2;

}


/*Home styling*/
/*hero with makeup brush*/
.hero-container {
  position: relative;
  background-image: url("../img/joanna-kosinska-346609-unsplash_crop_fade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
  padding: 0;
}

.hero-nav-container {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 150px;
}

.hero-brand {
  width: 20%;
  float: left;
}

.hero-brand h1,
.hero-brand-xs h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 6.0rem;
  color: #fdb1d5;
  padding-left: 0;
  text-shadow: 1px 1px 1px #42465e;
  text-transform: uppercase;
  letter-spacing: 9.5px;
  margin: 0;
  cursor: default;
}

.hero-brand-xs {
  width: 100%;
  text-align: center;
  margin: 30px 0 20px;
}

.hero-navbar,
.hero-navbar-xs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
}

.hero-navbar {
  width: 80%;
  justify-content: flex-end;
  float: right;
}

.hero-navbar-xs {
  width: 100%;
  justify-content: center;
  padding-left: 0;
}

.hero-nav-item {
  margin: 0 15px;
}

.hero-nav-link {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: #ec95c2;
  transition: 0.2s;
}

.hero-nav-link:hover {
  color: #42465e;
  text-decoration: none;
}

.hero-caption {
  float: right;
  margin-right: 100px;
  margin-top: 100px;
  padding: 50px 40px 0 0;
}

.hero-caption h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.hero-caption h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 15px;
}


/*About styling*/
.about-section {
  position: relative;
  background-image: url("../img/element5-digital-611421-unsplash_fade.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 1200px;*/
  width: 100%;
  padding: 50px 0;
}

/*for sentence title*/
.about-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  letter-spacing: 1.5px;
}

.about-column {
  line-height: 1.6;
  box-shadow: -3px 0px 0px 0px #fdb1d5;
  /*box-shadow: -2px 0px 0px 0px #bdbfce;*/
  margin-bottom: 15px;
}

.about-section-2 {
  position: relative;
  background-image: url("../img/max-rovensky-562056-unsplash_fade.jpg");
  /*background-position: 0px -200px;*/
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 1200px;*/
  width: 100%;
  padding: 50px 0;
}

.about-section-2 h2 {
  /*position: absolute;*/
  /*left: 960px;*/
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  /*margin: 100px 0 35px;*/
  letter-spacing: 1.5px;
}

.row-header {
  margin-top: 70px;
  /*padding-bottom: 25px;*/
}

.italic-header {
  margin-top: 40px;
  font-family: 'Amita', cursive;
}

.hair-cosmetics-section {
  position: relative;
  background-image: url("../img/velizar-ivanov-514992-unsplash_fade.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 1200px;*/
  width: 100%;
  padding: 50px 0;
}

.hair-cosmetics-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  letter-spacing: 1.5px;
}

.advanced-treatments-section {
  position: relative;
  background-image: url("../img/ramy-kabalan-678766-unsplash_fade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 1200px;*/
  width: 100%;
  padding: 0;
}

.advanced-treatments-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  letter-spacing: 1.5px;
}

.hair-cosmetics-section-2,
.advanced-treatments-section-2 {
  padding-bottom: 90px;
}


/*hair & beauty styling*/
#section2 h3,
#section3 h3 {
  background-color: #fdb1d5;
  padding: 5.35px 0;
  color: mintcream;
  transition: background-color 400ms;
  border-radius: 5px;
}

#section2 h3:hover,
#section3 h3:hover {
  color: mintcream;
  background-color: #42465e;
  cursor: default;
}

#hair-overlay, #makeup-overlay, #face-overlay,
#hydration-overlay, #keratin-overlay, #aroma-overlay {
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.88;
  border-radius: 5px;
}

.overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fed8ea;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fed8ea;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 5px;
}

.overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #fed8ea;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

#hair-overlay:hover .overlay-top {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
}

#makeup-overlay:hover .overlay-top {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
}

#face-overlay:hover .overlay-top {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
}

#hydration-overlay:hover .overlay-top {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
}

#keratin-overlay:hover .overlay-top {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
}

#aroma-overlay:hover .overlay-top {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
}

.text {
  white-space: pre-wrap;
  color: #42465e;
  font-weight: 600;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

li {
  list-style-type: none;
}

#description {
  padding-top: 32px;
}

.product-header {
  color: #42465e;
  margin-top: 20px;
  line-height: 1.5;
}


/*contact styling*/
.contact-section {
  position: relative;
  background-image: url("../img/annie-spratt-466760-unsplash_fade_flip.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  width: 100%;
  padding: 50px 0;
}

.contact-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  letter-spacing: 1.5px;
}

#contact-form {
  text-align: center;
  border: 2.3px solid #ec95c2;
  border-radius: 20px;
  background-color: mintcream;
  padding: 20px 15px;
}

.form-group {
  margin-bottom: 0;
}

.form-row {
  margin-bottom: 15px;
  padding-bottom: 0;
}

.form-row p {
  line-height: 2;
}

.form-horizontal {
  width: 75%;
  margin: 20px auto;
}

.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"],
input[type="number"],
.form-control {
     border-top: 0;
     border-right: 0;
     border-left: 0;
     border-bottom: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
     background-color: #fff2f8;
     color: #42465e;
     font-family: 'Poppins', sans-serif;
     font-size: 1.6rem;
     font-weight: 300;
     letter-spacing: 1px;
}

input[type="text"]:focus,
input[type="number"]:focus {
     -webkit-box-shadow: none;
     box-shadow: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
  margin-top: 39px;
  border-radius: 8px;
  padding: 11px 19px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.61rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #ec95c2;
  background-color: white;
  border: 2px solid #ec95c2;
  transition: 300ms;
}

.btn:hover {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: white;
  background-color: #ec95c2;
  border: 2px solid #ec95c2;
}

.social-icons {
  margin-top: 10px;
  font-size: 2.5rem;
}

.social-icons a:hover {
  text-decoration: none;
}

.fab {
  margin: 0 5px;
  color: #ec95c2;
  transition: 0.3s;
}

.fab:hover {
  color: #42465e;
}


/*footer styling*/
#footer {
  height: 150px;
  background-color: #fdb1d5;
  text-align: center;
}

#footer p {
  position: relative;
  top: 40%;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

#footer a {
  font-weight: 600;
  color: #42465e;
}

#footer a:hover {
  text-decoration: none;
}


/*media queries*/
@media (max-width: 1675px) {
  .about-section-2 {
    background-position: 0px 0px;
  }
}

@media (max-width: 1500px) {
  .hero-nav-container {
    padding: 10px 50px;
  }

  .hero-nav-link {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .about-section {
    height: 1400px;
    padding: 50px 0;
  }

  .about-section-2,
  .hair-cosmetics-section,
  .advanced-treatments-section {
    height: 1200px;
    padding: 50px 0;
  }

  .row-header {
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
  .row-header {
    text-align: center;
  }

  #contact-form {
    margin-top: 50px;
  }
  .row-header {
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-section,
  .about-section-2,
  .hair-cosmetics-section,
  .advanced-treatments-section {
    height: 950px;
    padding: 70px 0;
  }
}

@media (min-width: 992px) {
  .hero-nav-container {
    display: flex;
  }

  .navbar-open,
  .navbar-secondary {
    display: none;
  }

}

@media (max-width: 991px) {
  .hero-container {
    background-position: -410px 50px;
  }

  .hero-nav-container {
    display: none;
  }

  .hero-caption {
    text-align: center;
    margin-top: 150px;
    margin-right: 0;
    padding: 0;
    float: none;
  }

  .hero-nav-item {
    margin: 0 6px;
  }

  .navbar-secondary {
    display: flex;
  }

  .contact-section {
    height: 1300px;
  }

  .overlay p {
    font-size: 1.1rem;
  }

  .navbar-primary,
  .nav-container,
  #navbar {
    display: none!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-section,
  .about-section-2,
  .hair-cosmetics-section,
  .advanced-treatments-section {
    height: 800px;
    padding: 25px 0;
  }
}

@media (min-width: 768px) {
  .product-header {
    display: none;
  }

  .product-col {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .overlay {
    display: none;
  }

  .product-col {
    margin-bottom: 20px;
  }

  .about-section,
  .about-section-2,
  .hair-cosmetics-section,
  .advanced-treatments-section {
    height: 950px;
    padding: 25px 0;
  }

}

@media (max-width: 571px) {
  .hero-container {
    height: 600px;
    background-position: -250px 0px;
  }

  .hero-caption {
    display: none;
  }

  .about-section {
    background-position: -400px 0px;
  }

  .about-section-2 {
    background-position: -300px 0px;
  }

  .hair-cosmetics-section {
    background-position: -300px 0px;
  }

  .advanced-treatments-section {
    /*height: 1000px;*/
    background-position: -400px 0px;
  }

  .contact-section {
    height: 1500px;
  }

  html {
    font-size: 58%;
  }
}

@media (max-width: 531px) {
  .about-section {
    height: auto;
  }

  .about-section-2,
  .hair-cosmetics-section,
  .advanced-treatments-section {
    height: 950px;
    padding: 25px 0;
  }
}

@media (max-width: 400px) {
  .about-section,
  .about-section-2,
  .hair-cosmetics-section,
  .advanced-treatments-section {
    height: auto;
    padding: 25px 0;
  }
}
